<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/Scss/pagesCss/global.css}">
    <link rel="stylesheet" th:href="@{/Scss/FormCss/formTopo.css}">
    <link rel="shortcut icon" th:href="@{/img/img_pages/climb.png}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Engagement&display=swap" rel="stylesheet">
    <title>Formulaire de création de topos</title>
    <meta name="description" content="Enregistrez vos topos dans votre espace personnel.">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="header-nav navbar navbar-expand navbar-dark">
                        <div class="col-5">
                            <h1 class="title">Les amis de l'escalade</h1>
                        </div>

                        <div class="col-2">
                            <img class="header-img" th:src="@{/img/img_pages/library-topos.png}" alt="topo">
                            <img class="header-img-2" th:src="@{/img/img_pages/library-topos-64.png}" alt="topo">
                        </div>

                        <div class="col-5">
                            <h3 class="nav-h3">Créez vos topos</h3>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <main>
        <section class="row justify-content-center">
            <form class="col-6" th:action="@{/createTopo}" method="post" th:object="${new_topo}">
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label" for="site">Nom du site</label>
                    <div class="col-lg-9">
                        <input class="form-control" type="text" name="place" th:field="*{name_topo}" id="site" placeholder="Le nom du site" minlength="3" maxlength="20"
                            required>
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-lg-3 col-form-label" for="place">Lieu</label>
                    <div class="col-lg-9">
                        <input class="form-control" th:field="*{location_topo}" type="text" name="place" id="place" placeholder="Indiquez la commune la plus proche du site" minlength="3" maxlength="20"   required>
                    </div>
                </div>
                <hr>

                <div class="form-group row">
                    <label class="col-lg-12 col-form-label" for="spot">description du spot</label>
                    <div class="col-lg-12">
                        <textarea class="form-control" th:field="*{description_topo}" type="text" name="spot" id="spot" rows="10" minlength="10" maxlength="1000"
                             placeholder="Un petit résumé de l'endroit" required></textarea>
                    </div>
                </div>
                <hr>

                <div class="form-group row">
                    <label class="col-lg-3 col-form-label" for="name">Auteur</label>
                    <div class="col-lg-9">
                        <input class="form-control" th:field="*{author}" type="text" name="name" id="name" minlength="3" maxlength="20"
                            placeholder="Nom de l'auteur du topo" required>
                    </div>
                </div>
                <hr>

                <div class="form-group row">
                    <label class="col-lg-4 col-form-label" for="today">Date de parution</label>
                    <div class="col-lg-8">
                        <input class="form-control" th:field="*{publication}" type="date" name="today" id="today" readonly>
                    </div>
                </div>
                <hr>

                <div class="form-group row">
                    <label class="col-lg-8 col-form-label" id="dispo">Souhaitez-vous rendre disponible à la communauté le topo ?</label>
                    <div class="form-check">
                        <div class="col-lg-2">
                            <label class="form-check-label">
                                <input class="form-check-input" th:field="*{is_lend}" type="radio" name="dispo" value="oui" checked>
                                oui
                            </label>
                        </div>
                    </div>
                    <div class="form-check">
                        <div class="col-2">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="dispo" value="non">
                                non
                            </label>
                        </div>
                    </div>
                </div>
                <hr class="hr">
                <div class="row">
                    <div class="offset-2 col-3">
                        <div class="btn-wrapper">
                            <button type="reset" class="btn">Annulez</button>
                        </div>
                        <canvas></canvas>
                    </div>
                    <div class="offset-4 col-2">
                        <div class="btn-wrapper">
                            <button type="submit" class="btn">Envoyez</button>
                        </div>
                        <canvas></canvas>
                    </div>
                </div>
            </form>
        </section>
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="footer-first-nav col-6">
                    <nav class="first-nav navbar navbar-expand navbar-dark">
                        <div class="collapse navbar-collapse justify-content-center">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="#" class="nav-weight nav-link">A propos...</a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-weight nav-link active">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="footer-second-nav col-6">
                    <nav class="icon navbar navbar-expand navbar-dark">
                        <div class="footer-icon collapse navbar-collapse justify-content-end">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="#" class="nav-link"><img th:src="@{/img/img_pages/facebook.png}" alt="facebook"
                                            title="Facebook" width="32" height="32"></a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link"><img th:src="@{/img/img_pages/twitter.png}" alt="twitter"
                                            title="Twitter" width="32" height="32"></a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link"><img th:src="@{/img/img_pages/verti-call.png}" alt="verti-call"
                                            title="Verti-Call" width="32" height="32"></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <nav class="links navbar navbar-expand navbar-dark">
                        <h6>Liens utiles:</h6>
                        <div class="useful-links collapse navbar-collapse">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="https://www.ffme.fr/" class="nav-weight nav-link active"
                                        title="Fédération Française de la Montagne et de l'Escalade">FFME</a>
                                </li>

                                <li class="nav-item">
                                    <a href="https://climbingaway.fr/fr/" class="nav-weight nav-link"
                                        title="Combien de temps dure la chute, darling !">Climbingaway</a>
                                </li>

                                <li class="nav-item">
                                    <a href="https://www.redbull.com/fr-fr/meilleurs-sites-escalade-europe"
                                        class="nav-weight nav-link"
                                        title="Du Red Bull ! J'appelle ma fille ursule !">Red Bull</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
        integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
        crossorigin="anonymous"></script>
    <script>
        document.getElementById("today").valueAsDate = new Date();
    </script>
</body>

</html>