<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/Scss/pagesCss/global.css}">
    <link rel="stylesheet" th:href="@{/Scss/FormCss/formConnection.css}">
    <link rel="shortcut icon" th:href="@{/img/img_pages/climb.png}" type="image/x-icon">
    <link th:href="@{https://fonts.googleapis.com/css?family=Engagement&display=swap}" rel="stylesheet">
    <title>Connexion aux amis de l'escalade</title>
    <meta name="description" content="Connectez-vous à la communauté 'Les amis de l'escalade'!">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="header-nav navbar navbar-expand navbar-dark">
                        <div class="header-title col-5">
                            <h1 class="title">Les amis de l'escalade</h1>
                        </div>

                        <div class="col-2">
                            <img class="header-img" th:src="@{/img/img_pages/form_connexion_icon.png}" alt="Connexion">
                            <img class="header-img-2" th:src="@{/img/img_pages/form_connexion_icon-64.png}" alt="Connexion">
                        </div>

                        <div class="col-5">
                            <h3 class="nav-h3">Bon retour parmi nous!</h3>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <main>
        <h3 class="main-h3">Se connecter!</h3>
        <section class="row justify-content-center">
            
            <form class="connexion-form-space col-6" th:action="@{/connection}" method="post">
                <div class="form-group row">
                    <div align="center" th:if="${param.error}">
                        <p style="font-size:20; color:#FF1C19;">Pseudo ou mot de passe invalide</p>
                    </div>
                    <label class="col-m-3 col-sm-5 col-form-label" for="pseudo">Votre pseudo</label>
                    <div class="col-m-9 col-sm-7">
                        <input class="form-control" type="text" name="pseudo" id="pseudo" placeholder="Entrez votre pseudo" required>
                    </div>
                </div>
                <hr>
                <div class="form-group row">
                    <label class="col-m-4 col-sm-6 col-form-label" for="password">Votre mot de passe</label>
                    <div class="col-m-8 col-sm-6">
                        <input class="form-control" type="password" name="password" id="password" required>
                    </div>
                </div>
                <hr class="hr">
                <div class="row">
                    <div class="offset-2 col-3">
                        <div class="btn-wrapper">
                            <button type="reset" class="btn">Annulez</button>
                        </div>
                        <canvas></canvas>
                    </div>
                    <div class="offset-4 col-3">
                        <div class="btn-wrapper">
                            <button type="submit" class="btn">Connectez</button>
                        </div>
                        <canvas></canvas>
                    </div>
                </div>
            </form>
        </section>  
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="footer-first-nav col-6">
                    <nav class="first-nav navbar navbar-expand navbar-dark">
                        <div class="collapse navbar-collapse justify-content-center">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="#" class="nav-weight nav-link">A propos...</a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-weight nav-link active">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="footer-second-nav col-6">
                    <nav class="icon navbar navbar-expand navbar-dark">
                        <div class="footer-icon collapse navbar-collapse justify-content-end">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a th:href="@{https://fr-fr.facebook.com/}" class="nav-link"><img th:src="@{/img/img_pages/facebook.png}" alt="facebook"
                                            title="Facebook" width="32" height="32"></a>
                                </li>

                                <li class="nav-item">
                                    <a th:href="@{https://twitter.com/?lang=fr}" class="nav-link"><img th:src="@{/img/img_pages/twitter.png}" alt="twitter"
                                            title="Twitter" width="32" height="32"></a>
                                </li>

                                <li class="nav-item">
                                    <a th:href="@{https://www.verti-call.com/}" class="nav-link"><img th:src="@{/img/img_pages/verti-call.png}" alt="verti-call"
                                            title="Verti-Call" width="32" height="32"></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <nav class="links navbar navbar-expand navbar-dark">
                        <h6>Liens utiles:</h6>
                        <div class="useful-links collapse navbar-collapse">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a th:href="@{https://www.ffme.fr/}" class="nav-weight nav-link active"
                                        title="Fédération Française de la Montagne et de l'Escalade">FFME</a>
                                </li>

                                <li class="nav-item">
                                    <a th:href="@{https://climbingaway.fr/fr/}" class="nav-weight nav-link" >Climbingaway</a>
                                </li>

                                <li class="nav-item">
                                    <a th:href="@{https://www.redbull.com/fr-fr/meilleurs-sites-escalade-europe}" class="nav-weight nav-link">Red Bull</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
        integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
        crossorigin="anonymous"></script>
</body>

</html>