 /*####################        grandCapucin.html         ####################*/
 body {
    background-image: url(../../../img/img_sites/gorges.jpg);
 }

/*	##	HEADER	##	**/

/*	##	MAIN	##	**/
.prettyVillage:hover {
   text-decoration: none;
   color: orangered;
}
/*	##	FOOTER	##	**/