<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/Scss/pagesCss/global.css}">
    <link rel="stylesheet" th:href="@{/Scss/sitesCss/globalSites.css}">
    <link rel="stylesheet" th:href="@{/Scss/sitesCss/world/totem.css}">
    <link rel="shortcut icon" th:href="@{/img/img_pages/climb.png}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Engagement&display=swap" rel="stylesheet">
    <title>Totem Pole</title>
    <meta name="description"
        content="Tous les sites répertoriés par les amis de l'escalade, pour les amateurs et les professionnels, pour les locaux et les nomades">
</head>

<body>
    <header id="totem">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <!--    Logo    -->
            <img th:src="@{/img/img_pages/mountaintop.png}" alt="Logo">

            <!--    Bouton  -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="responsive">
                <!--    Icone du bouton -->
                <span class="navbar-toggler-icon"></span>
            </button>

            <!--    Les liens du menu englobés dans un div   -->
            <div class="collapse navbar-collapse" id="responsive">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a th:href="@{/MainPages/pagesHtml/main.html}" class="nav-link active">Escalader jusqu'à l'accueil</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/MainPages/pagesHtml/sites.html}" class="nav-link">Découvrez les Sites</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/MainPages/pagesHtml/topos.html}" class="nav-link">Réservez votre topo</a>
                    </li>
                    <li class="nav-item">
                        <a th:href="@{/MainPages/pagesHtml/jargon.html}" class="nav-link">Le jargon du grimpeur</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col-6">
                    <ul>
                        <li class="li">
                            <span>
                                <img class="icon-description" th:src="@{/img/img_sites/rochers.png}" alt="Rochers">
                            </span>
                            <span>Type</span><br><span>Falaises</span>
                        </li>
                        <li class="li">
                            <span>
                                <img class="icon-description" th:src="@{/img/img_sites/hauteur.png}" alt="hauteur">
                            </span>
                            <span>Hauteur maximale des voies</span><br><span>65 mètres</span>
                        </li>
                        <li class="li">
                            <span>
                                <img class="icon-description" th:src="@{/img/img_sites/hauteur_voies.png}" alt="Hauteur des voies">
                            </span>
                            <span>Altitude maximale au pied des voies</span><br><span>71 mètres</span>
                        </li>
                        <li class="li">
                            <span>
                                <img class="icon-description" th:src="@{/img/img_sites/orientation.png}" alt="Orientaiton">
                            </span>
                            <span>Orientation</span><br><span>Toutes</span>
                        </li>
                        <li class="li">
                            <span>
                                <img class="icon-description" th:src="@{/img/img_sites/voies.png}" alt="Voies">
                            </span>
                            <span>Nombre de voies</span><br><span>Entre 10 et 50 voies</span>
                        </li>
                        <li class="li">
                            <span>
                                <img class="icon-description" th:src="@{/img/img_sites/cotation.png}" alt="Cotation">
                            </span>
                            <span>Cotations</span><br><span>Du 5a au 7c</span><br><span>Débutant à confirmé</span>
                        </li>
                    </ul>
                </div>
                <div class="col-6">
                    <h2><a class="color-h2" href="https://earth.google.com/web/@-43.13933545,148.00603505,57.77480489a,745.96795412d,35y,0h,45t,0r/data=Ck0aSxJFCiUweGFhNmRhNmIyNTJmZDY4N2I6MHg5Mjg3MGJhNTc0NzlkM2ZlGf7bGzLUkUXAIZarxOExgGJAKgpUb3RlbSBQb2xlGAIgASgC" target="_blank" title="Admirez sur Google Earth">Totem Pole - Australie</a></h2>
                    <p>
                        Le lieu est insolite, presque magique, perdu dans l’archipel de Tasmanie, battu par
                        les
                        vents et l’océan Pacifique. Au dessus des vagues, une curieuse colonne de basalte de
                        4
                        mètres sur 4 et de 65 mètres de haut se dresse entre deux parois.
                    </p>
                    <p>
                        Totem Pole est plus qu’un spot de grimpe, c’est une expérience insolite qui débute
                        au
                        fond
                        d’un parking de brousse à Fortescue Bay, se poursuit à pied au coeur de la jungle
                        avant
                        de
                        rejoindre le rivage.
                    </p>
                    <p>
                        C’est en rappel qu’on gagne le pied de Totem Pole, et c’est par une tyrolienne que
                        l’on
                        rejoindra la terre ferme après plusieurs longueurs irréelles au parfum d’embruns.
                        C’est
                        davantage l’atmosphère qui se dégage de Totem Pole plutôt que sa difficulté qui
                        attire
                        les
                        grimpeurs, bien que les voies soient extrêmement intéressantes, bardées de lignes
                        excitantes.
                    </p>

                    <ul>
                        <li class="li">
                            <span>
                                <img th:src="@{/img/img_sites/restrictions.png}" alt="Restrictions" class="icon-description">
                            </span>
                            <span>Restrictions possibles</span><br><span></span>
                        </li>
                        <li class="li">
                            <span>
                                <img th:src="@{/img/img_sites/commune.png}" alt="Commune" class="icon-description">
                            </span>
                            <span>Commune la plus proche du site</span><br><span>Mount Gambier, Australie-Méridionale 5290, Australie</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="col-12"><a class="btn" th:href="@{commentary}" role="button">Poster un commentaire</a></div>
                </div>
            </div>
            <div class="border border-dark rounded row">
                <div class="col-12">
                    <p>Les commentaires viendront s'ajouter ici</p>
                </div>
            </div>
        </div>
    </main>
    
    <footer>
        <div class="container">
            <div class="row">
                <div class="footer-first-nav col-6">
                    <nav class="first-nav navbar navbar-expand navbar-dark">
                        <div class="collapse navbar-collapse justify-content-center">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="#" class="nav-weight nav-link">A propos...</a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-weight nav-link active">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="footer-second-nav col-6">
                    <nav class="icon navbar navbar-expand navbar-dark">
                        <div class="footer-icon collapse navbar-collapse justify-content-end">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="https://fr-fr.facebook.com/" class="nav-link"><img th:src="@{/img/img_pages/facebook.png}" alt="facebook"
                                            title="Facebook" width="32" height="32"></a>
                                </li>

                                <li class="nav-item">
                                    <a href="https://twitter.com/?lang=fr" class="nav-link"><img th:src="@{/img/img_pages/twitter.png}" alt="twitter"
                                            title="Twitter" width="32" height="32"></a>
                                </li>

                                <li class="nav-item">
                                    <a href="https://www.verti-call.com/" class="nav-link"><img th:src="@{/img/img_pages/verti-call.png}" alt="verti-call"
                                            title="Verti-Call" width="32" height="32"></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <nav class="links navbar navbar-expand navbar-dark">
                        <h6>Liens utiles:</h6>
                        <div class="useful-links collapse navbar-collapse">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="https://www.ffme.fr/" class="nav-weight nav-link active"
                                        title="Fédération Française de la Montagne et de l'Escalade">FFME</a>
                                </li>

                                <li class="nav-item">
                                    <a href="https://climbingaway.fr/fr/" class="nav-weight nav-link"
                                        title="Climbingaway: Ben là il y a de l'eau en tout cas">Climbingaway</a>
                                </li>

                                <li class="nav-item">
                                    <a href="https://www.redbull.com/fr-fr/meilleurs-sites-escalade-europe"
                                        class="nav-weight nav-link" title="Le requin boit-il du Red Bull ? Réponse: noooon !">Red Bull</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
        integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
        crossorigin="anonymous"></script>
</body>
</html>