<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../static/Scss/pagesCss/global.css">
    <link rel="stylesheet" href="../../../static/Scss/pagesCss/jargon.css">
    <link rel="shortcut icon" href="../../../static/img/img_pages/climb.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Engagement&display=swap" rel="stylesheet">
    <title>Le jargon dans le milieu de la grimpe</title>
    <meta name="description" content="Le jargon dans le milieu de la grimpe">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>

<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="jargon col-12">
                    <nav class="header-nav navbar navbar-expand navbar-dark">
                        <div class="header-div-left col-5">
                            <h1 class="header-title title">Les amis de l'escalade</h1>
                        </div>

                        <div class="header-div-center col-2">
                            <img class="header-img" src="../../../static/img/img_pages/mountains-icon.png" alt="Montagnes">
                            <img class="header-img-2" src="../../../static/img/img_pages/mountains-icon-64.png" alt="Montagnes">
                        </div>

                        <div class="header-div-right col-5">
                            <h1 class="header-title nav-h3">Le jargon du grimpeur</h1>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="jargon-nav navbar navbar-expand navbar-dark">
                        <div class="collapse navbar-collapse justify-content-center">
                            <ul class="ul-menu navbar-nav">
                                <li class="nav-menu nav-item">
                                    <a href="main.html" class="a-menu nav-link active">Escalader à l'accueil</a>
                                </li>
                                <li class="nav-menu nav-item">
                                    <a href="sites.html" class="a-menu nav-link">Découvrez les Sites</a>
                                </li>

                                <li class="nav-menu nav-item">
                                    <a href="topos.html" class="a-menu nav-link">Réservez votre topo</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="space col">
                    <dl>
                        <dt>Banzaï</dt>
                        <dd>
                            Une voie particulièrement engagée ou un style d'escalade " marche ou crève "…
                        </dd>
                        
                        <dt>Bitte</dt>
                        <dd>
                            Prise proéminente facile à tenir (Désolé ! Définition officielle).
                        </dd>
                        
                        <dt>Cotation</dt>
                        <dd>
                            Indication de la difficulté d'une escalade selon une échelle reconnue par tous : coter une voie, c'est proposer une difficulté, il faudra attendre plusieurs répétiteurs pour pouvoir la confirmer… ou la décoter ! une voie peut être également sur ou sous-cotée suivant les endroits et les personnes, inutile de préciser que la cotation est un sujet sensible chez les grimpeurs.
                        </dd>
                        <dt>Essai (taper un)</dt>
                        <dd>
                            C'est essayer d'enchaîner une voie, généralement après reconnaissance, voire travail des pas. On donne le nombre d'essais quand on parle d'une voie dure que l'on a enchaîné après-travail. (les grimpeurs les plus branchés parleront de taper un run).
                        </dd>
                        <dt>Longueur</dt>
                        <dd>
                            …de corde et par extension de rocher parcourue ou à parcourir dans une grande voie : une  longueur mesure entre 30 et 50 mètres (moitié d'un rappel) suivant le trajet de la voie et  les obstacles qui pourraient s'opposer au bon tirage de la corde (toit, vegetation,traversée…)
                        </dd>
                        <dt>Secteur</dt>
                        <dd>
                            Une partie d'une falaise.
                        </dd>
                        <dt>Site</dt>
                        <dd>
                            Ensemble des secteurs d'une falaise.
                        </dd>
                        <dt>Spit ou spiter</dt>
                        <dd>
                            Plaquette en acier que l'on fixe pour pouvoir assurer la progression des grimpeurs. Ici le nom du matériel est devenu si célèbre qu'il a dépassé la fonction : spiter une voie se comprend aussi aisément qu'équiper.
                        </dd>
                        <dt>Terrain d'aventure</dt>
                        <dd>
                            Style de voie dans laquelle le grimpeur doit placer ses protections (coinceurs, pitons, friends…) au fur et à mesure de sa progression.
                        </dd>
                        <dt>Topo(graphique)</dt>
                        <dd>
                            Guide regroupant les informations nécessaires pour grimper et séjourner dans un site : plan, adresses, liste des voies, cotations…
                        </dd>
                        <dt>Variante</dt>
                        <dd>
                            Méthode ou itinéraire différent utilisé pour sortir une voie.
                        </dd>
                        <dt>Voie</dt>
                        <dd>
                            Itinéraire prédéfini
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <div class="container">
            <div class="row">
                <div class="footer-first-nav col-6">
                    <nav class="first-nav navbar navbar-expand navbar-dark">
                        <div class="collapse navbar-collapse justify-content-center">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="#" class="nav-weight nav-link">A propos...</a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-weight nav-link active">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="footer-second-nav col-6">
                    <nav class="icon navbar navbar-expand navbar-dark">
                        <div class="footer-icon collapse navbar-collapse justify-content-end">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="#" class="nav-link"><img src="../../../static/img/img_pages/facebook.png" alt="facebook"
                                            title="Facebook" width="32" height="32"></a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link"><img src="../../../static/img/img_pages/twitter.png" alt="twitter"
                                            title="Twitter" width="32" height="32"></a>
                                </li>

                                <li class="nav-item">
                                    <a href="#" class="nav-link"><img src="../../../static/img/img_pages/verti-call.png" alt="verti-call"
                                            title="Verti-Call" width="32" height="32"></a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            <div class="row">

                <div class="col-12">
                    <nav class="links navbar navbar-expand navbar-dark">
                        <h6>Liens utiles:</h6>
                        <div class="useful-links collapse navbar-collapse">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a href="https://www.ffme.fr/" class="nav-weight nav-link active"
                                        title="Fédération Française de la Montagne et de l'Escalade">FFME</a>
                                </li>

                                <li class="nav-item">
                                    <a href="https://climbingaway.fr/fr/" class="nav-weight nav-link"
                                        title="Climbingaway: that is the question">Climbingaway</a>
                                </li>

                                <li class="nav-item">
                                    <a href="https://www.redbull.com/fr-fr/meilleurs-sites-escalade-europe"
                                        class="nav-weight nav-link" title="J'suis red, y'a pas de bulles !">Red Bull</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
        integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
        crossorigin="anonymous"></script>
</body>

</html>