<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link th:href="@{https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css}" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/Scss/pagesCss/global.css}">
    <link rel="stylesheet" th:href="@{/Scss/pagesCss/main.css}">
    <link rel="shortcut icon" th:href="@{/img/img_pages/climb.png}" type="image/x-icon">
    <link th:href="@{https://fonts.googleapis.com/css?family=Engagement&amp;display=swap}" rel="stylesheet">
    <title>Les amis de l'escalade</title>
    <meta name="description" content="Les amis de l'escalade est un site communautaire et de partage pour tous les passionnés de grimpe">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
<header>
    <div class="container">
        <nav class="row header-nav navbar navbar-expand navbar-dark">
            <div class="col-lg-4">
                <h1 class="titre-perso title">Les amis de l'escalade</h1>
            </div>
            <form class="col-lg-4 form-inline" action="/recherche/" method="get">
                <fieldset>
                    <div class="input-group">
                        <input id="oSaisie" name="oSaisie" type="text" class="form-control"
                               aria-label="Saisie de mots clés" required="required">
                        <div class="input-group-append">
                            <button class="fafa" type="submit"><i class="fa fa-search"></i>Recherche</button>
                        </div>
                    </div>
                </fieldset>
            </form>
            <div class="connexion col-lg-4">
                <div class="btn-group">
                    <div sec:authorize="isAnonymous()">
                        <button type="button" class="drop">On se connecte les amis...</button>
                        <button type="button" id="menu" class="down dropdown-toggle dropdown-toggle-split"
                                data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">On se connecte les amis...</span>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="menu">
                            <a class="dropdown-item" th:href="@{/connection}">Mon espace membre</a>
                            <a class="dropdown-item" th:href="@{/subscription}">Nouveau ? Inscription gratuite</a>
                        </div>
                    </div>
                    <div sec:authorize="isAuthenticated()">
                        <a th:href="@{/perform_logout}">
                            <button type="button">Déconnexion</button>
                        </a>
                    </div>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav navbar navbar-expand navbar-dark">
                    <div class="collapse navbar-collapse justify-content-center">
                        <ul class="ul-menu navbar-nav">
                            <li class="nav-menu nav-item">
                                <a th:href="@{/sites}" class="a-menu nav-link active">Découvrez les Sites</a>
                            </li>

                            <li class="nav-menu nav-item">
                                <a th:href="@{/topo}" class="a-menu nav-link">Réservez votre topo</a>
                            </li>

                            <li class="nav-menu nav-item">
                                <a th:href="@{/jargon}" class="a-menu nav-link">Jargon grimpeur</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<main>
    <div class="container">
        <div class="change jumbotron jumbotron-fluid">
            <div class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target=".carousel" data-slide-to="0" class="active"></li>
                    <li data-target=".carousel" data-slide-to="1"></li>
                    <li data-target=".carousel" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">

                    <div class="carousel-item active">
                        <img class="d-block w-100" th:src="@{/img/img_pages/escalade_1.jpg}" width="1110" height="450"
                             alt="escalade">
                        <div class="carousel-caption">
                            <div class="text">
                                <h1>Bienvenue à tous les passionnés d'escalade</h1>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="format carousel-caption">
                            <div class="text">
                                <p class="p-pad-1">
                                    Les amis de l'escalade est un site de partage pour la communauté des grimpeurs. Vous
                                    y trouverez toutes les informations utiles sur les spots français, européens et
                                    mondiaux.
                                </p>
                                <p class="p-pad-2">
                                    Vous pourrez lister les différents topos créés par nos membres et faire une demande
                                    de réservation.
                                </p>
                            </div>
                        </div>
                        <img class="d-block w-100" th:src="@{/img/img_pages/escalade_2.jpg}" width="1110" height="450"
                             alt="escalade">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" th:src="@{/img/img_pages/escalade_3.jpg}" width="1110" height="450"
                             alt="escalade">
                        <div class="carousel-caption">
                            <div class="text">
                                <p>
                                    Et n'oubliez pas ! Escalader, ça fait mal aux pieds !
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer>
    <div class="container">
        <div class="row">
            <div class="footer-first-nav col-6">
                <nav class="first-nav navbar navbar-expand navbar-dark">
                    <div class="collapse navbar-collapse justify-content-center">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="#" class="nav-weight nav-link">A propos...</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-weight nav-link active">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="footer-second-nav col-6">
                <nav class="icon navbar navbar-expand navbar-dark">
                    <div class="footer-icon collapse navbar-collapse justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a th:href="@{https://fr-fr.facebook.com/}" class="nav-link"><img
                                        th:src="@{/img/img_pages/facebook.png}" alt="facebook" title="Facebook"
                                        width="32" height="32"></a>
                            </li>

                            <li class="nav-item">
                                <a th:href="@{https://twitter.com/?lang=fr}" class="nav-link"><img
                                        th:src="@{/img/img_pages/twitter.png}" alt="twitter" title="Twitter" width="32"
                                        height="32"></a>
                            </li>

                            <li class="nav-item">
                                <a th:href="@{https://www.verti-call.com/}" class="nav-link"><img
                                        th:src="@{/img/img_pages/verti-call.png}" alt="verti-call" title="Verti-Call"
                                        width="32" height="32"></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
        <div class="row">

            <div class="col-12">
                <nav class="links navbar navbar-expand navbar-dark">
                    <h6>Liens utiles:</h6>
                    <div class="useful-links collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a th:href="@{https://www.ffme.fr/}" class="nav-weight nav-link active"
                                   title="Fédération Française de la Montagne et de l'Escalade">FFME</a>
                            </li>

                            <li class="nav-item">
                                <a th:href="@{https://climbingaway.fr/fr/}" class="nav-weight nav-link">Climbingaway</a>
                            </li>

                            <li class="nav-item">
                                <a th:href="@{https://www.redbull.com/fr-fr/meilleurs-sites-escalade-europe}"
                                   class="nav-weight nav-link">Red Bull</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
        integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
        crossorigin="anonymous"></script>
</body>

</html>