<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/Scss/pagesCss/global.css}">
    <link rel="stylesheet" th:href="@{/Scss/pagesCss/sites.css}">
    <link rel="shortcut icon" th:href="@{/img/img_pages/climb.png}" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css?family=Engagement&display=swap" rel="stylesheet">
    <title>Les sites des amis de l'escalade</title>
    <meta name="description"
          content="Tous les sites répertoriés par les amis de l'escalade, pour les amateurs et les professionnels, pour les locaux et les nomades">
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>

<body>
<header>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="header-nav navbar navbar-expand navbar-dark">
                    <div class="header-title col-4">
                        <h1 class="title">Les amis de l'escalade</h1>
                    </div>
                    <div class="col-2">
                        <ul class="sites-nav navbar-nav">
                            <li class="nav-item">
                                <a href="#france" class="sites-navlink navlink">
                                    <h4 class="france">Sites français</h4></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <ul class="sites-nav navbar-nav">
                            <li class="nav-item">
                                <a href="#europe" class="sites-navlink navlink">
                                    <h4 class="europe">Sites européens</h4>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <ul class="sites-nav navbar-nav">
                            <li class="nav-item">
                                <a href="#world" class="sites-navlink navlink">
                                    <h4 class="monde">Sites mondiaux</h4>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="mountain-img col-2">
                        <img th:src="@{/img/img_pages/mountains.png}" alt="Montagnes">
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav navbar navbar-expand navbar-dark">
                    <div class="collapse navbar-collapse justify-content-center">
                        <ul class="ul-menu navbar-nav">
                            <li class="nav-menu nav-item">
                                <a th:href="@{main.html}" class="a-menu nav-link active">Escalader à l'accueil</a>
                            </li>
                            <li class="nav-menu nav-item">
                                <a th:href="@{jargon.html}" class="a-menu nav-link">Jargon grimpeur</a>
                            </li>

                            <li class="nav-menu nav-item">
                                <a th:href="@{topos.html}" class="a-menu nav-link">Réservez votre topo</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

<main>
    <section class="container">
        <h1 class="sites-h1" id="france"><img class="icon-flag" th:src="@{/img/img_pages/french-flag.png}">Les
            sites français</h1>
        <div class="row">
            <div class="col-12">
                <h3><img class="icon-moutain" th:src="@{/img/img_pages/sites.png}"
                         alt="Icone de montagne"><a class="shift"
                                                    th:href="@{/Locations/sites/france/grandCapucin.html#gc}"
                                                    title="Site du Grand Capucin">Grand Capucin</a></h3>
            </div>
            <div class="col-12">
                <h3><img class="icon-moutain" th:src="@{/img/img_pages/sites.png}"
                         alt="Icone de montagne"><a class="shift"
                                                    th:href="@{/Locations/sites/france/verdon.html#verdon}"
                                                    title="Site des Gorges du Verdon">Le Verdon</a></h3>
            </div>
            <div class="col-12">
                <h3><img class="icon-moutain" th:src="@{/img/img_pages/sites.png}"
                         alt="Icone de montagne"><a class="shift" th:href="@{/Locations/sites/france/annot.html#annot}"
                                                    title="Annot dans les Alpes de Haute Provence">Annot - Alpes de
                    Haute Provence</a></h3>
            </div>
            <div class="col-12">
                <h3><img class="icon-moutain" th:src="@{/img/img_pages/sites.png}"
                         alt="Icone de montagne"><a class="shift"
                                                    th:href="@{/Locations/sites/france/sormiou.html#sormiou}"
                                                    title="Calanques de Sormiou">Calanques de Sormiou - Marseille</a>
                </h3>
            </div>
            <div class="col-12">
                <h3><img class="icon-moutain" th:src="@{/img/img_pages/sites.png}"
                         alt="Icone de montagne"><a class="shift" th:href="@{/Locations/sites/france/buoux.html#buoux}"
                                                    title="Sites de Buoux">Buoux - Lubéron</a></h3>
            </div>
            <div class="col-12">
                <h3><img class="icon-moutain" th:src="@{/img/img_pages/sites.png}"
                         alt="Icone de montagne"><a class="shift" th:href="@{/Locations/sites/france/tarn.html#tarn}"
                                                    title="Gorges du Tarn">Les Gorges du Tarn</a></h3>
            </div>
            <div class="col-12">
                <h3><img class="icon-moutain" th:src="@{/img/img_pages/sites.png}"
                         alt="Icone de montagne"><a class="shift"
                                                    th:href="@{/Locations/sites/france/orpierre.html#ceuse}"
                                                    title="Céüse et Orpierre">Céüse et Orpierre</a></h3>
            </div>
            <div class="col-12">
                <h3><img class="icon-moutain" th:src="@{/img/img_pages/sites.png}"
                         alt="Icone de montagne"><a class="shift"
                                                    th:href="@{/Locations/sites/france/fontainebleau.html#bleau}"
                                                    title="Fontainebleau">Les rochers de Fontainebleau</a></h3>
            </div>
        </div>

        <h1 class="sites-h1" id="europe"><img class="icon-flag" th:src="@{/img/img_pages/europe_flag.png}">Les sites
            européens</h1>
        <div class="row">
            <div class="col-12">
                <h3><img class="icon-moutain" th:src="@{/img/img_pages/sites-europe.png}"
                         alt="Icone de montagne"><a class="shift"
                                                    th:href="@{/Locations/sites/europe/frankenjura.html#frankenjura}"
                                                    title="Frankenjura">Frankenjura - Allemagne</a></h3>
            </div>
            <div class="col-12">
                <h3><img class="icon-moutain" th:src="@{/img/img_pages/sites-europe.png}"
                         alt="Icone de montagne"><a class="shift"
                                                    th:href="@{/Locations/sites/europe/dolomites.html#dolo}"
                                                    title="Dolomites">Les Dolomites - Italie</a></h3>
            </div>
            <div class="col-12">
                <h3><img class="icon-moutain" th:src="@{/img/img_pages/sites-europe.png}"
                         alt="Icone de montagne"><a class="shift"
                                                    th:href="@{/Locations/sites/europe/siurana.html#siurana}"
                                                    title="Siurana">Siurana - Espagne</a></h3>
            </div>
            <div class="col-12">
                <h3><img class="icon-moutain" th:src="@{/img/img_pages/sites-europe.png}"
                         alt="Icone de montagne"><a class="shift"
                                                    th:href="@{/Locations/sites/europe/dorset.html#dorset}"
                                                    title="Dorset">Dorset - Angleterre</a></h3>
            </div>
        </div>

        <h1 class="sites-h1" id="world"><img class="icon-flag" th:src="@{/img/img_pages/world-flag.png}">Les sites
            mondiaux</h1>
        <div class="row">
            <div class="col-12">
                <h3><img class="icon-moutain" th:src="@{/img/img_pages/sites-monde.png}"
                         alt="Icone de montagne"><a class="shift" th:href="@{/Locations/sites/world/trango.html#trango}"
                                                    title="Trango">Les tours de Trango - Pakistan</a></h3>
            </div>
            <div class="col-12">
                <h3><img class="icon-moutain" th:src="@{/img/img_pages/sites-monde.png}"
                         alt="Icone de montagne"><a class="shift"
                                                    th:href="@{/Locations/sites/world/capitan.html#capitan}"
                                                    title="Capitan">El Capitan - Yosemite - Etats-Unis</a></h3>
            </div>
            <div class="col-12">
                <h3><img class="icon-moutain" th:src="@{/img/img_pages/sites-monde.png}"
                         alt="Icone de montagne"><a class="shift" th:href="@{/Locations/sites/world/ennedi.html#ennedi}"
                                                    title="Ennedi">Désert de l'Ennedi - Tchad</a></h3>
            </div>
            <div class="col-12">
                <h3><img class="icon-moutain" th:src="@{/img/img_pages/sites-monde.png}"
                         alt="Icone de montagne"><a class="shift" th:href="@{/Locations/sites/world/totem.html#totem}"
                                                    title="Ennedi">Totem Pole - Australie</a></h3>
            </div>
            <div class="col-12">
                <h3><img class="icon-moutain" th:src="@{/img/img_pages/sites-monde.png}"
                         alt="Icone de montagne"><a class="shift" th:href="@{/Locations/sites/world/flat.html#flat}"
                                                    title="Flatanger">Flatanger - Norvège</a></h3>
            </div>
        </div>
    </section>
</main>

<footer>
    <div class="container">
        <div class="row">
            <div class="footer-first-nav col-6">
                <nav class="first-nav navbar navbar-expand navbar-dark">
                    <div class="collapse navbar-collapse justify-content-center">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="#" class="nav-weight nav-link">A propos...</a>
                            </li>

                            <li class="nav-item">
                                <a href="#" class="nav-weight nav-link active">Contact</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="footer-second-nav col-6">
                <nav class="icon navbar navbar-expand navbar-dark">
                    <div class="footer-icon collapse navbar-collapse justify-content-end">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="#" class="nav-link"><img th:src="@{/img/img_pages/facebook.png}" alt="facebook"
                                                                  title="Facebook" width="32" height="32"></a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link"><img th:src="@{/img/img_pages/twitter.png}" alt="twitter"
                                                                  title="Twitter" width="32" height="32"></a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link"><img th:src="@{/img/img_pages/verti-call.png}"
                                                                  alt="verti-call" title="Verti-Call" width="32"
                                                                  height="32"></a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <nav class="links navbar navbar-expand navbar-dark">
                    <h6>Liens utiles:</h6>
                    <div class="useful-links collapse navbar-collapse">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a href="https://www.ffme.fr/" class="nav-weight nav-link active"
                                   title="Fédération Française de la Montagne et de l'Escalade">FFME</a>
                            </li>

                            <li class="nav-item">
                                <a href="https://climbingaway.fr/fr/" class="nav-weight nav-link"
                                   title="Climbingaway: AAAAAAHH !!! Chpok !">Climbingaway</a>
                            </li>

                            <li class="nav-item">
                                <a href="https://www.redbull.com/fr-fr/meilleurs-sites-escalade-europe"
                                   class="nav-weight nav-link" title="Du Red Bull ! J'agite mes mandibules !">Red
                                    Bull</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"
        integrity="sha384-6khuMg9gaYr5AxOqhkVIODVIvm9ynTT5J4V1cfthmT+emCG6yVmEZsRHdxlotUnm"
        crossorigin="anonymous"></script>
</body>

</html>