/*####################        form_partage.html         ####################*/
/*	##	MEDIA QUERIES	##	*/
@import "../../MainPages/pagesCss/mixin";

/*	Variable's color	*/
@import "../../MainPages/pagesCss/themeColor";

/*	for the whole page	*/
body {
	background-image: url(../../img/img_pages/bg-form-partage.jpg);
}

/*	##	HEADER	##	*/
h1 {
	text-align: center;
}

header {
	@include media-between("phone", "tablet-lg") {
		margin-top: -50px;
	}
}
header h3 {
	padding-left: 75px;
}

.header-img {
	@include media-between("tablet", "tablet-lg") {
		visibility: hidden;
	}
	@include media-max("phone") {
		display: none;
	}
}

.header-img-2 {
	@include media-between("phone", "tablet-lg") {
		visibility: visible;
		position: absolute;
		top: -20px;
	}
	@include media-between("tablet", "tablet-lg") {
        right: 100px;
	}
	@include media-between("phone", "tablet") {
        right: 50px;
	}
	@include media-max("phone") {
		margin-top: -200px;
	}
}

.title {
	@include media-between("phone", "tablet-lg") {
		padding-top: 50px;
	}
	@include media-between("tablet", "tablet-lg") {
		font-size: 3em;
	}
	@include media-between("phone", "tablet") {
		font-size: 2.5em;
	}
	@include media-max("phone") {
		display: none;
	}
}

.img {
	@include media-between("phone", "tablet-lg") {
		margin-left: 80px;
	}
	@include media-max("phone") {
		display: none;
	}
}

.nav-h3 {
    margin-top: 60px;
	padding-left: 80px;
    @include media-between("tablet-lg", "desktop") {
        width: max-content;
    }
    @include media-between("phone", "tablet") {
        font-size: 2.5em;
        margin-top: 0;
    }
    @include media-max("phone") {
        position: relative;
		width: max-content;
		font-size: 3em;
		left: -100px;
		top: -70px;
    }
}

/*	##	MAIN	##	*/
main .nav-h3 {
	margin-top: 80px;
	@include media-max("tablet-lg") {
		padding-left: 0;
		width: max-content;
	}
	@include media-between("tablet", "tablet-lg") {
		font-size: 3em;
	}
	@include media-max("tablet") {
		font-size: 2.5em;
	}
	@include media-max("phone") {
		padding-left: 100px;
		margin-bottom: -50px;
	}
}
.next-page {
	color: $whiteColor;
	&:hover {
		text-decoration: none;
	}
}

/* Hide the browser's default checkbox */
.escalade input {
    position: absolute;
    cursor: pointer;
    opacity: 0;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 6px;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

/* On mouse-over, add a orangered background color */
.escalade:hover input ~ .checkmark {
    background-color: $orangeColor;
}

/* When the checkbox is checked, add a blue background */
.escalade input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.escalade input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.escalade .checkmark:after {
  left: 5px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid $whiteColor;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
  /*_________________________________________________________________*/

main {
	@include media-max("tablet-lg") {
		margin-top: -100px;
	}
}

.col-form-label,
.form-check-label {
	@include media-max("tablet") {
		font-size: 0.8em;
	}
}

.textarea {
	@include media-max("phone") {
		font-size: 0.8em;
	}
}

/*	##	FOOTER	##	*/