/*####################        form_inscription.html         ####################*/
/*	##	MEDIA QUERIES	##	*/
@import "../../MainPages/pagesCss/mixin";

/*	Variable's color	*/
@import "../../MainPages/pagesCss/themeColor";

/*	for the whole page	*/
body {
	background-image: url(../../img/img_pages/bg-form-inscription.jpg);
}

/*	##	HEADER	##	*/
h1 {
	text-align: center;
}

.header-nav {
	margin-bottom: 50px;
	@include media-max("phone") {
		height: 100px;
	}
}

header .container {
	@include media-max("tablet") {
		margin-bottom: 0;
	}
}

.title {
	@include media-between("phone", "tablet") {
		font-size: 2.5em;
        margin-top: 0;
	}
	@include media-max("phone") {
		visibility: hidden;
	}
}

.nav-h3 {
	padding-left: 40px;
	@include media-between("phone", "tablet") {
		font-size: 2.5em;
        margin-top: 0;
	}
	@include media-max("phone") {
		position: absolute;
		width: max-content;
		font-size: 3em;
		left: -160px;
		top: -40px;
	}
}

/*	##	MAIN	##	*/
.col-form-label {
	@include media-max("tablet") {
		font-size: 0.8em;
	}
}

.main-space {
	@include media-max("phone") {
		margin-top: -50px;
	}
}

/*	##	FOOTER	##	*/