/*####################        form_inscription.html         ####################*/
/*	##	MEDIA QUERIES	##	*/
@import "../../MainPages/pagesCss/mixin";

/*	Variable's color	*/
@import "../../MainPages/pagesCss/themeColor";

/*	for the whole page	*/
@import url('https://fonts.googleapis.com/css?family=Mukta');

body {
	background-image: url(../../img/img_pages/bg-form-connexion.jpg);
    font-family: 'Mukta', sans-serif;
}

/*	##	HEADER	##	*/
.nav-h3 {
    margin-top: 60px;
    padding-left: 40px;
    @include media-between("tablet-lg", "desktop") {
        width: max-content;
    }
    @include media-between("phone", "tablet") {
        font-size: 2.5em;
        margin-top: 0;
    }
    @include media-max("phone") {
        position: absolute;
		width: max-content;
		font-size: 3em;
		left: -200px;
		top: -70px;
    }
}

.title {
    margin-top: 60px;
    @include media-between("phone", "tablet") {
        font-size: 2.5em;
        margin-top: 0;
    }
    @include media-max("phone") {
        visibility: hidden;
    }
}

.header-img {
    @include media-between("tablet-lg", "desktop") {
        margin-top: 0;
    }
}

.header-nav {
    @include media-max("phone") {
        height: 100px;
    }
}

/*	##	MAIN	##	*/
.main-h3 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    @include media-max("tablet") {
        font-size: 2.5em;
        margin-top: 25px;
        margin-bottom: 25px;
    }
}

/*	##	FOOTER	##	*/